<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.girrow.harin.mapper.PostMapper">
	<select id="selectAllData" resultType="PostVO">
		SELECT *
		  FROM `post`
		 WHERE delYn='N'
	</select>
	
	<select id="selectOneData" resultType="PostVO">
		SELECT *
		  FROM `post`
		 WHERE delYn='N' and no=#{key}
	</select>
	
	<insert id="create" parameterType="PostVO">
		INSERT INTO `post`(title,content,writer)
		VALUES (#{title},#{content},#{writer})
	</insert>
	
	<update id="update">
		UPDATE `post`
		SET title=#{title} , content =#{content}
		 WHERE writer=#{writer} and no=#{no}
	</update>
	
	<delete id="delete">
		UPDATE `post`
		SET delYn='Y'
		 WHERE writer=#{writer} and no=#{no}
	</delete>
</mapper>